@charset "UTF-8";

/* Versão demais Mídias */

/* Typical Device Breakpoints
-----------------------------
Telas pequenas: Até 600px
Celular: 600px até 812px
Tablet: 812px até 1024px
PC em HD: 1024 até 1920
*/

@media screen and (min-width: 812px) {
    span#burguer {
        display: none;
    }
    menu {
        display: block;
    }
    menu > ul > li {
        display: inline-block;
    }
}